<div id="<%= dom_id meeting_organizer_list %>">
  <p>
    <strong>Employee:</strong>
    <%= meeting_organizer_list.employee_id %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= meeting_organizer_list.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= meeting_organizer_list.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= meeting_organizer_list.email_id %>
  </p>

  <p>
    <strong>Last used:</strong>
    <%= meeting_organizer_list.last_used %>
  </p>

</div>
