<p style="color: green"><%= notice %></p>



<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%= render @meeting_organizer_list.first_name+" "+@meeting_organizer_list.last_name %></h5>
    <p class="card-text"><%= render @meeting_organizer_list %></p>
    <div class="btn-group">
      <%= link_to "Edit", edit_meeting_organizer_list_path(@meeting_organizer_list), class:"btn btn-dark" %>&nbsp;
      <%= link_to "Home", meeting_organizer_lists_path, class:"btn btn-dark" %>&nbsp;
    </div>
  </div>
</div>


